.searchBar{
    display: grid;
    width: 100%;
    place-items: end;
    grid-template-columns: 1fr 1fr;
}


.shopImage{
    display: grid;
    padding-top: 100px;
    place-items: center;
    font-size: 40px;
}