
.searchBar{
    display: flex;
    width: 100%;
    // place-items: end;
    grid-template-columns: 1fr 1fr;
}

.products{
    margin-top: 10px;
}



.shopTitle{
    display: flex;
    background-color: 888;
    justify-content:center;
    // padding: 400px 100px;
    // // padding-right: 1000px;
    
    // background-repeat: no-repeat;
    // background-size:100%;
    background-position: center;
    // background-image: url("https://cdn.wallpapersafari.com/97/92/VDshqx.jpg");
    h1{
        font-size: 35px;
        color: black;
        background-color: 888 ;
        border-radius: 10px;
        padding: 10px;
        margin-bottom: 40PX;

    }
    h2{

        font-size: 25px;
        letter-spacing: 5px;
    }
    
}
