.shop-cart-menu{
position: fixed;
right: -100%;

}
.shop-cart-menu.active{
    left: var(--side-cart-alignment-left,auto);
    right: var(--side-cart-alignment-right,0);
    transform: translateX(0);
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    font-size: 14px;
    min-height: 200px;
    width: 350px;
    max-width: 100%;
    transition: .3s;
    padding: var(--cart-padding,20px 30px);
    background-color: var(--cart-background-color,#fff);
    box-shadow: 0 0 20px rgba(0,0,0,.2);
    border-style: var(--cart-border-style,none);
    border-color: var(--cart-border-color,initial);
    border-radius: var(--cart-border-radius,0);
    margin-top: var(--mini-cart-spacing,0);
    z-index: 999;
}

.close-button{
position: relative;
margin: 0 0 20px;
align-self: flex-end;
cursor: pointer;
display: inline-block;
font-size: 25px;
line-height: 1;
transition: .3s;
}
.btn-primary {
    border-color: #5a8dee !important;
    background-color: #5a8dee !important;
    color: #fff;
}

.sidebar-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
}

.sidebar-overlay.active{
    opacity: 1;
    visibility: visible;
}