.images{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  // padding: 10px;
  padding-top: 50px;
  width: 230px;
  height: 310px;
  // padding-bottom: 100px;
  justify-content: center;
  
}