.team-container{
    padding: 5rem 0;

}
.team-boxContent{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.team-text{
  display: flex;
  flex-direction: column;
  gap: 3rem;
    text-align: center;
    h1{
        font-size: 3rem;
    }
    p{
        font-size: 1.3rem;
    }
}
.team-box{
    display: flex;
    gap: 3rem;
    
}
.team-innerBox {
    display: flex;
    flex-direction: column;
    background-color: #d3d3d3;
    width: 30rem;
    padding: 20px;
  }
  
  .team-content {
    font-family: 'Oswald', sans-serif;
  }
  
  .team-author {
    position: relative;
    bottom: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    img{
        width: 8rem;
        height: 8rem;
        border-radius: 50%;
    }
    // margin-bottom: 30px;
    
  }
  
  .team-name {
    font-weight: bold;
    font-size: 14px;
  }
  .imageBox{
    position: relative;
    width: 120px;
    bottom: 80px;
    height: 120px;
    left: 37%;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.25);
    border-radius: 49%;
    margin-bottom: -30px;
    // -webkit-border-radius: 50px;
    // overflow: hidden;
    background-color: #fff;
    
  }
  .testimonial-image{
    border-radius: 50%;
  }
  .team-socials{
    // position: relative;
    display: flex;
    justify-content: center;
    gap: 20px;
    top: -80px;
  }
