.contact-container {
    /* max-width: 400px;
    margin: 0 auto;
    padding: 20px; */
    height: 20rem;

    &-main{
      display: flex;
      gap: 10rem;

     &-text{
      max-width: 50rem;
     } 
    }
  }
.contact-initial{
  height: 15rem;
  position: relative;
  background-color: #fffdfd;
  background-image: url('/src/assets/contactus.jpg');
  background-position: left;
  background-position-x: -25%;
  background-size: 60%;
  background-repeat: no-repeat;
  text-align: right;
  align-items: center;
  
  &-text{
    position: absolute;
    right: 25%;
    top: 30%;

  }
}
  .contact-form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input,
  textarea {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .submit-btn {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .submit-btn:hover {
    background-color: #45a049;
  }