.searchBar{
    padding-top: 10px;
    align-items: center;
}


.searchInputs {
display:grid;
width: 500px;
grid-template-columns: 80% 20%;
}

.searchIcons {
height: 60px;
width: 50px;
background-color: white;
display: grid;
place-items: center;
}