.searchBar{
        padding-top: 150px;
        align-items: center;
        
}


.searchInputs {
    display:grid;
    grid-template-columns: 80% 20%;
}

.searchIcons {
    height: 60px;
    width: 50px;
    background-color: white;
    display: grid;
    place-items: center;
  }
 


