.navbar{
// position: absolute;
// width: 100%;
height: 3rem;
display: flex;
background-color: rgb(185, 180, 180);
padding: 0 20px;
justify-content: space-between;
align-items: center;
&-imglogo{
    display: flex;
    align-items: center;
    width: 4rem;
}
h1{ 
    color: red;
    font-size: 30px;
    font-weight: 900;
    letter-spacing: 5px;
}
&-links{
    display: flex;
    gap: 2.5rem;
}
&-buttons{
    display: flex;
    gap: 2.5rem;
}
}
