.navbar{
position: relative;
z-index: 3;
height: 3rem;
display: flex;
background-color: rgb(170, 164, 164);
padding: 0 20px;
justify-content: space-between;
align-items: center;
&-imglogo{
    display: flex;
    align-items: center;
    width: 4rem;
}
h1{ 
    color: red;
    font-size: 30px;
    font-weight: 900;
    letter-spacing: 5px;
}
&-links{
    display: flex;
    gap: 2.5rem;
}
&-buttons{
    display: flex;
    gap: 2.5rem;
}
}
