
.navbar{
position: fixed;
width: 100%;
z-index: 100;
height: 3rem;
display: flex;
background-color: rgb(255, 255, 255);
padding: 0 20px;
justify-content:space-between;
align-items: center;
box-shadow: 0px 5px 5px 3px rgba(39, 39,  39, 0.87);
&-imglogo{
    display: flex;
    align-items: center;
    width: 4rem;
}
h1{ 
    color: red;
    font-size: 35px;
    font-weight: bold;
    letter-spacing: 5px;
}
.menu-cart-button{
    display: flex;
    justify-content: center;
}
&-links{
    display: flex;
    gap: 2.5rem;
    margin-left: 10rem;
}
&-buttons{
    display: flex;
    gap: 2.5rem;
}
.menu-cart{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 40px;
    width: 40px;
    align-items: center;
    cursor: pointer;
    
    &-button{
        position: absolute;
        min-width: 1.6em;
        height: 1.6em;
        top: -.1em;
        inset-inline-end: 0em;
        border-radius: 100%;
        color: white;
        background-color: #d9534f;
        text-align: center;
        font-size: 11px;
        font-weight: 900;
    }
}
}
.link-button {
    background-color: red;
    color: white;
    border-radius: 0.25rem; /* Equivalent to Tailwind's rounded-md */
    padding: 0.5rem 1rem; /* Equivalent to Tailwind's px-8 py-2 */
    font-size: 1rem; /* Equivalent to Tailwind's text-base */
    font-weight: 500; /* Equivalent to Tailwind's font-medium */
    transition: background-color 0.2s ease, transform 0.2s ease;
    text-decoration: none; /* Remove underlines */
    display: inline-block;
  }
  
  .link-button:hover {
    background-color: #7f1d1d; /* Equivalent to Tailwind's hover:bg-red-700 */
  }
  
  
  
  /* Media query for screens with a maximum width of 900px */
  @media screen and (max-width: 1036px) {
    /* Reduce the padding and font size for smaller screens */
    .link-button {
      padding: 0.25rem 0.5rem; /* Adjust padding as needed */
      font-size: 0.875rem; /* Adjust font size as needed */
    }
    .navbar-buttons{
        position: relative;
        padding: 0px;
        gap: 1px;
        right: 50px;
    }
    .navbar{
        &-links{
            position: relative;
            gap: .5rem;
            right: 50px;
        }
        &-imglogo{
            // position: relative;
            // display: flex;
            // align-items: center;
            width: 3rem;
            // left: 50px;
        }
        
    }
  }

  @media screen and (max-width: 670px) {
    
    .navbar{
        font-size: 10px;
        &-links{
            position: relative;
            gap: .5rem;
            right: 70px;
        }
        h1{
            font-size: 20px;
        }
        &-imglogo{
           position: relative;
           left: 10px;
            width: 2rem;
        }
        padding: 0px;
    }
    .navbar-buttons{
        position: relative;
        padding: 0px;
        gap: 1px;
        right: 70px;
        width: 130px;
        .link-button{
            font-size: 10px;
        }
    }
  }

